#title {
  text-align: center;
  font-family: arial, sans-serif;
  color: #e1dfdb;
}

#testCount {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #e1dfdb;
}

#masterstats {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #3b3e41;
  width: 100%;
}

#masterstats td, #students th {
  border: 1px solid #3b3e41;
  padding: 8px;
  color: #e1dfdb;
}

#masterstats tr:nth-child(even){background-color: #2c2f31;}

#masterstats tr:hover {background-color: #2c2f31;}

#masterstats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #b15a09;
  color: white;
}